name: TransportTransform
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.8
  - pandas
  - jupyter_client
  - comm
  - tk
  - pywin32
  - vc
  - matplotlib-inline
  - libzlib
  - typing_extensions
  - asttokens
  - bzip2
  - typing-extensions
  - colorama
  - setuptools
  - decorator
  - xz
  - wcwidth
  - pyzmq
  - libffi
  - pure_eval
  - ipython
  - jupyter_core
  - python_abi
  - zeromq
  - pickleshare
  - jedi
  - psutil
  - libsodium
  - vs2015_runtime
  - openssl
  - packaging
  - backports.functools_lru_cache
  - zipp
  - executing
  - platformdirs
  - python-dateutil
  - six
  - importlib_metadata
  - libsqlite
  - backcall
  - wheel
  - importlib-metadata
  - tornado
  - pygments
  - traitlets
  - ucrt
  - ca-certificates
  - pip
  - stack_data
  - prompt-toolkit
  - nest-asyncio
  - debugpy
  - backports
  - parso
  - ipykernel
  - mesa
  - scipy
prefix: C:\Users\luja\Anaconda3\envs\TransportTransform
